.ljubicasta{
    color:#8019c8 !important;
}
.zelena{
    color:#19c880 !important;
}

.ljubicasta-poz{
    background-color:#8019c8 !important;
}
.zelena-poz{
    background-color:#19c880 !important;
}

.podvucena-cena{
    text-decoration: underline;
    text-decoration-color:#8019c8 ; 
}

#dugmeSubmit{
    transition:0.65s ease-in-out !important;
}
#dugmeSubmit:hover{
    background-color: #19c880 !important;
}

#rm{
    transition:0.65s ease-in-out !important;
}
#rm:hover{
    background-color: #19c880 !important;
}

#dodajUKorpu .seeProducts{
    transition: 0.65s ease-in-out !important;
}
.seeProducts{
    transition: 0.65s ease-in-out !important;
}
#dodajUKorpu:hover .seeProducts:hover{
    background-color: #8019c8 !important;
}
.seeProducts:hover{
    background-color: #8019c8 !important;
}

#crtice li{
    background-color: #19c880 !important;
}
#crtice2 li{
    background-color: #19c880 !important;
}

.carousel #crtice li.active{
    background-color:#8019c8 !important;
}
.carousel #crtice2 li.active{
    background-color:#8019c8 !important;
}

#dropdownMenuButton{
    border: 1px solid #ced4da;
    color: #495057;
}

.dropdown-menu label{
    color: #495057;
}


.img-zoom {
    transition: transform 0.85s ease;
  }
  
.img-zoom:hover {
    transform: scale(1.05);
}


.badge:after{
    content:attr(value);
    font-size:12px;
    color: #fff;
    background: red;
    border-radius:50%;
    padding: 0 5px;
    position:relative;
    left:-8px;
    top:-10px;
    opacity:0.9;
}


